snippet int
	int ${1:NAME} = ${2:VALUE};
	$0
snippet fun
	void ${1:NAME}($2) {
		$0
	}
snippet dw
	digitalWrite(${1:PIN}, ${2:HIGH});
	$0
snippet aw
	analogWrite(${1:PIN}, ${2:VALUE(0-255)});
	$0
snippet bool
	bool ${1:NAME} = ${2:TRUE};
	$0
snippet for
	for(int i = 0; i < ${1:VAR}; i++) {		
		$0
	}
snippet pm
	pinMode(${1:PIN}, ${2:OUTPUT});
	$0
