snippet title_block
	/*******************************************************************************
	Author: Ryan Kembrey
	Date: Autumn 2024
	*******************************************************************************/

	$0
snippet //
	/* $1 */$0
snippet incstdio
	#include <stdio.h> /* scanf, printf */
	$0
snippet pr 
	printf("$1"${2:, VARIABLE});
	$0
snippet sc
	scanf("$1", ${2:VARIABLE});
	$0
